#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE_R1 &kp Q &kp L &kp U &kp COMMA &kp DOT &kp F &kp W &kp R &kp Y &kp P
#define BASE_R2 &kp E &kp I &kp A &kp O &kp MINUS &kp C_MUTE &kp LS(N8) &kp K &kp T &kp N &kp S &kp H
#define BASE_R3 &kp J &kp X &kp C &kp V &kp QMARK &kp TAB &kp LS(N9) &kp G &kp D &kp M &kp Z &kp B
#define BASE_R4 &kp LCTRL &kp LALT &kp LGUI &lt 3 LANG2 &mt LSHIFT SPACE &lt 1 ENTER &lt 2 BSPC &kp LANG1 &lt 5 ESCAPE

#define NUM_R1 &kp RBKT &kp HASH &kp N7 &kp N8 &kp N9 &kp KP_NUMBER_7 &kp KP_NUMBER_8 &kp KP_NUMBER_9 &kp KP_PLUS &kp KP_MINUS
#define NUM_R2 &kp SEMI &kp LS(N7) &kp N4 &kp N5 &kp N6 &kp C_MUTE &kp SQT &kp KP_NUMBER_4 &kp KP_NUMBER_5 &kp KP_NUMBER_6 &kp KP_MULTIPLY &kp KP_DIVIDE
#define NUM_R3 &kp LBKT &kp KP_NUMBER_0 &kp N1 &kp N2 &kp N3 &none &kp KP_NUMBER_0 &kp KP_NUMBER_1 &kp KP_NUMBER_2 &kp KP_NUMBER_3 &middle_dot &kp KP_DOT
#define NUM_R4 &kp LCTRL &kp LALT &kp LGUI &lt 3 LANG2 &mt LSHIFT SPACE &none &lt 2 BSPC &kp LANG1 &kp ESCAPE

#define NAV_R1 &kp HOME &kp PG_UP &kp UP_ARROW &kp PG_DN &kp END &kp HOME &kp PG_UP &kp UP_ARROW &kp PG_DN &kp END
#define NAV_R2 &none &kp LEFT_ARROW &kp DOWN_ARROW &kp RIGHT_ARROW &none &kp C_MUTE &none &none &kp LEFT_ARROW &kp DOWN_ARROW &kp RIGHT_ARROW &none
#define NAV_R3 &kp LG(Z) &kp LG(X) &kp LG(C) &kp LG(V) &kp LS(LG(Z)) &none &none &kp LG(Z) &kp LG(X) &kp LG(C) &kp LG(V) &kp LS(LG(Z))
#define NAV_R4 &kp LCTRL &kp LALT &kp LGUI &lt 3 LANG2 &mt LSHIFT SPACE &lt 1 ENTER &none &kp LANG1 &kp ESCAPE

#define FN_R1 &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F1 &kp F2 &kp F3 &kp F4 &kp F5
#define FN_R2 &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp C_MUTE &none &kp F6 &kp F7 &kp F8 &kp F9 &kp F10
#define FN_R3 &kp F11 &kp F12 &none &none &none &none &none &kp F11 &kp F12 &none &none &none
#define FN_R4 &kp LCTRL &kp LALT &kp LGUI &none &mt LSHIFT SPACE &lt 1 ENTER &lt 2 BSPC &kp LANG1 &kp ESCAPE

#define AM_R1 &kp_to_base Q &kp_to_base L &kp_to_base U &kp_to_base COMMA &kp_to_base DOT &kp_to_base F &kp_to_base W &kp_to_base R &kp_to_base Y &kp_to_base P
#define AM_R2 &ams 11 E &ams 11 I &ams 11 A &ams 11 O &ams 11 MINUS &kp C_MUTE &mg 6 MB4 &mg 7 MB5 &mkp MB1 &mg 8 MB3 &mkp MB2 &kp_to_base H
#define AM_R3 &kp_to_base J &kp_to_base X &kp_to_base C &kp_to_base V &kp_to_base QMARK &kp_to_base TAB &kp_to_base LS(N9) &kp_to_base G &kp_to_base D &kp_to_base M &kp_to_base Z &kp_to_base B
#define AM_R4 &to 0 &to 0 &to 0 &kp_to_base LANG2 &kp_to_base SPACE &kg 10 ENTER &kg 9 BSPC &kp_to_base LANG1 &lt 5 ESCAPE

#define SCR_R1 &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &trans &trans &trans &trans &trans
#define SCR_R2 &bt BT_PRV &bt BT_NXT &bt BT_CLR &trans &trans &kp C_MUTE &trans &trans &trans &trans &trans &trans
#define SCR_R3 &bt BT_CLR_ALL &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
#define SCR_R4 &trans &trans &trans &trans &trans &trans &trans &trans &trans

#define TR10 &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
#define TR12 &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
#define TR9  &trans &trans &trans &trans &trans &trans &trans &trans &trans

&lt {
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    quick-tap-ms = <0>;
    hold-while-undecided;
};

&mt {
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <0>;
};

/ {
    behaviors {
        mg: mouse_gesture {
            compatible = "zmk,behavior-hold-tap";
            label = "MOUSE_GESTURE";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            bindings = <&mo>, <&mkp>;
        };

        kg: key_gesture {
            compatible = "zmk,behavior-hold-tap";
            label = "KEY_GESTURE";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            bindings = <&mo>, <&kp>;
        };

        ams: automouse_precision_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "AUTOMOUSE_PRECISION_HOLD";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <170>;
            quick-tap-ms = <0>;
            bindings = <&mo>, <&kp_to_base>;
        };
    };

    macros {
        kp_to_base: keypress_to_base {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <0>;
            tap-ms = <20>;
            bindings = <&macro_param_1to1 &kp MACRO_PLACEHOLDER &to 0>;
        };

        middle_dot: middle_dot {
            compatible = "zmk,behavior-macro";
            label = "MIDDLE_DOT";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <20>;
            bindings = <&kp Z &kp SLASH>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            bindings = <BASE_R1 BASE_R2 BASE_R3 BASE_R4>;
        };

        num_layer {
            display-name = "Num";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            bindings = <NUM_R1 NUM_R2 NUM_R3 NUM_R4>;
        };

        nav_layer {
            display-name = "Nav";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            bindings = <NAV_R1 NAV_R2 NAV_R3 NAV_R4>;
        };

        function_layer {
            display-name = "Fn";
            sensor-bindings = <&inc_dec_kp C_BRI_UP C_BRI_DN>;
            bindings = <FN_R1 FN_R2 FN_R3 FN_R4>;
        };

        automouse_layer {
            display-name = "AutoMouse";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            bindings = <AM_R1 AM_R2 AM_R3 AM_R4>;
        };

        scroll_layer {
            display-name = "Scroll";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            bindings = <SCR_R1 SCR_R2 SCR_R3 SCR_R4>;
        };

        gesture_back_copy_layer { display-name = "G6 BackCopy"; sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>; bindings = <TR10 TR12 TR12 TR9>; };
        gesture_forward_tabs_layer { display-name = "G7 ForwardTabs"; sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>; bindings = <TR10 TR12 TR12 TR9>; };
        gesture_pan_layer { display-name = "G8 Pan"; sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>; bindings = <TR10 TR12 TR12 TR9>; };
        gesture_system_layer { display-name = "G9 System"; sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>; bindings = <TR10 TR12 TR12 TR9>; };
        gesture_window_layer { display-name = "G10 Window"; sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>; bindings = <TR10 TR12 TR12 TR9>; };
        precision_layer { display-name = "Precision"; sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>; bindings = <TR10 TR12 TR12 TR9>; };
    };
};
