// Cygnus-S keymap
// v8: encoder scroll + host-aware AutoMouse gesture layers.
// - BT0/BT1: Mac host profile.
// - BT2/BT3/BT4: Windows host profile via overlay layer.
// - Encoder is the primary scroll input.
// - Trackball keeps AutoMouse on Layer 4.
// - AutoMouse is mouse/gesture mode: no text typing; Kana/Muhenkan explicitly returns to text.
// - N/right-click/D/M positions use hold-tap for gesture families.

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define WIN 1
#define NUM 2
#define NAV_MAC 3
#define AMOUSE 4
#define NAV_WIN 5
#define FN 6
#define SYS 7
#define WIN_AMOUSE 8
#define D_MAC 9
#define M_MAC 10
#define N_PAN 11
#define D_WIN 12
#define M_WIN 13
#define WIN_NUM 14
#define WIN_FN 15
#define R_MAC 16
#define R_WIN 17
#define SNIPE 18

&lt {
    tapping-term-ms = <200>;
    quick-tap-ms = <300>;
    flavor = "balanced";
};

&mt {
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <0>;
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        win_automouse {
            if-layers = <WIN AMOUSE>;
            then-layer = <WIN_AMOUSE>;
        };

        win_num {
            if-layers = <WIN NUM>;
            then-layer = <WIN_NUM>;
        };

        win_fn {
            if-layers = <WIN FN>;
            then-layer = <WIN_FN>;
        };
    };

    behaviors {
        scroll_up_down: mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
            tap-ms = <20>;
        };

        scroll_right_left: mouse_wheel_right_left {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;
            tap-ms = <20>;
        };

        mg: mouse_gesture {
            compatible = "zmk,behavior-hold-tap";
            label = "MOUSE_GESTURE";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            bindings = <&mo>, <&mkp>;
        };
    };

    macros {
        ss_mac: screenshot_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <20>;
            bindings = <&kp LS(LG(N5))>;
        };

        ss_win: screenshot_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <20>;
            bindings = <&kp LS(LG(S))>;
        };

        text_return_mac: text_return_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <20>;
            bindings = <&kp LANG1 &to BASE>;
        };

        text_return_win: text_return_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <20>;
            bindings = <&kp LANG1 &to WIN>;
        };

        text_return_mac_en: text_return_mac_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <20>;
            bindings = <&kp LANG2 &to BASE>;
        };

        text_return_win_en: text_return_win_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <20>;
            bindings = <&kp LANG2 &to WIN>;
        };

        bt0_mac: bt0_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <20>;
            bindings = <&bt BT_SEL 0 &to BASE>;
        };

        bt1_mac: bt1_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <20>;
            bindings = <&bt BT_SEL 1 &to BASE>;
        };

        bt2_win: bt2_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <20>;
            bindings = <&bt BT_SEL 2 &to WIN>;
        };

        bt3_win: bt3_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <20>;
            bindings = <&bt BT_SEL 3 &to WIN>;
        };

        bt4_win: bt4_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <20>;
            bindings = <&bt BT_SEL 4 &to WIN>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0: Mac/Common Base
            display-name = "Mac";
            sensor-bindings = <&scroll_up_down>;
            bindings = <
                    &kp Q  &kp L  &kp U  &kp COMMA  &kp DOT  &kp F  &kp W  &kp R  &kp Y  &kp P
                    &kp E  &kp I  &kp A  &kp O  &kp MINUS  &kp C_MUTE  &kp LS(N8)  &kp K  &kp T  &kp N  &kp S  &kp H
                    &kp J  &kp X  &kp C  &kp V  &kp QMARK  &kp TAB  &kp LS(N9)  &kp G  &kp D  &kp M  &kp Z  &kp B
                    &kp LCTRL  &kp LALT  &kp LGUI  &lt FN LANG2  &mt LSHIFT SPACE  &lt NUM ENTER  &lt NAV_MAC BSPC  &kp LANG1  &ss_mac
            >;
        };

        windows_overlay_layer { // Layer 1: Windows overlay
            display-name = "Win";
            sensor-bindings = <&scroll_up_down>;
            bindings = <
                    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                    &kp LGUI  &kp LALT  &kp LCTRL  &trans  &trans  &trans  &lt NAV_WIN BSPC  &trans  &ss_win
            >;
        };

        num_layer { // Layer 2: Num/Sym
            display-name = "Num";
            sensor-bindings = <&scroll_up_down>;
            bindings = <
                    &kp SEMI  &kp LBKT  &kp HASH  &kp DLLR  &kp PRCNT  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_PLUS  &kp KP_MINUS
                    &kp RBKT  &kp LS(N7)  &kp EXCL  &kp LS(MINUS)  &kp LS(SEMI)  &kp C_MUTE  &kp SQT  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_MULTIPLY  &kp KP_DIVIDE
                    &kp BSLH  &kp LS(INT1)  &kp LS(N6)  &kp INT3  &kp LS(INT3)  &none  &kp KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp SLASH  &kp KP_DOT
                    &kp LCTRL  &kp LALT  &kp LGUI  &lt FN LANG2  &mt LSHIFT SPACE  &none  &lt NAV_MAC BSPC  &kp LANG1  &kp ESCAPE
            >;
        };

        nav_mac_layer { // Layer 3: Nav/Edit Mac
            display-name = "NavMac";
            sensor-bindings = <&scroll_right_left>;
            bindings = <
                    &kp HOME  &kp PG_UP  &kp UP_ARROW  &kp PG_DN  &kp END  &kp HOME  &kp PG_UP  &kp UP_ARROW  &kp PG_DN  &kp END
                    &none  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &none  &kp C_MUTE  &none  &none  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &none
                    &kp LG(Z)  &kp LG(X)  &kp LG(C)  &kp LG(V)  &kp LS(LG(Z))  &none  &none  &kp LG(Z)  &kp LG(X)  &kp LG(C)  &kp LG(V)  &kp LS(LG(Z))
                    &kp LCTRL  &kp LALT  &kp LGUI  &lt FN LANG2  &mt LSHIFT SPACE  &lt NUM ENTER  &none  &kp LANG1  &kp ESCAPE
            >;
        };

        automouse_layer { // Layer 4: AutoMouse
            display-name = "AutoMouse";
            sensor-bindings = <&scroll_up_down>;
            bindings = <
                    &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
                    &none  &none  &none  &mo SNIPE  &none  &kp C_MUTE  &none  &none  &mkp MB1  &mg N_PAN MB3  &mg R_MAC MB2  &none
                    &none  &none  &none  &none  &none  &none  &none  &none  &mg D_MAC MB4  &mg M_MAC MB5  &none  &none
                    &none  &none  &none  &text_return_mac_en  &none  &none  &none  &text_return_mac  &kp ESCAPE
            >;
        };

        nav_win_layer { // Layer 5: Nav/Edit Windows
            display-name = "NavWin";
            sensor-bindings = <&scroll_right_left>;
            bindings = <
                    &kp HOME  &kp PG_UP  &kp UP_ARROW  &kp PG_DN  &kp END  &kp HOME  &kp PG_UP  &kp UP_ARROW  &kp PG_DN  &kp END
                    &none  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &none  &kp C_MUTE  &none  &none  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &none
                    &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp LC(Y)  &none  &none  &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp LC(Y)
                    &kp LGUI  &kp LALT  &kp LCTRL  &lt FN LANG2  &mt LSHIFT SPACE  &lt NUM ENTER  &none  &kp LANG1  &kp ESCAPE
            >;
        };

        function_layer { // Layer 6: Fn
            display-name = "Fn";
            sensor-bindings = <&inc_dec_kp C_BRI_UP C_BRI_DN>;
            bindings = <
                    &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5
                    &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &kp C_MUTE  &none  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10
                    &kp F11  &kp F12  &none  &none  &none  &none  &none  &kp F11  &kp F12  &none  &none  &none
                    &kp LCTRL  &kp LALT  &kp LGUI  &none  &mt LSHIFT SPACE  &lt NUM ENTER  &lt NAV_MAC BSPC  &mo SYS  &kp ESCAPE
            >;
        };

        system_layer { // Layer 7: System/BT
            display-name = "System";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            bindings = <
                    &bt0_mac  &bt1_mac  &bt2_win  &bt3_win  &bt4_win  &none  &none  &none  &none  &none
                    &bt BT_PRV  &bt BT_NXT  &bt BT_CLR  &none  &none  &kp C_MUTE  &none  &none  &none  &none  &none  &none
                    &bt BT_CLR_ALL  &none  &none  &none  &none  &none  &bootloader  &none  &none  &none  &none  &none
                    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        win_automouse_override_layer { // Layer 8: Windows AutoMouse override
            display-name = "WinAM";
            sensor-bindings = <&scroll_up_down>;
            bindings = <
                    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &mg R_WIN MB2  &trans
                    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &mg D_WIN MB4  &mg M_WIN MB5  &trans  &trans
                    &trans  &trans  &trans  &text_return_win_en  &trans  &trans  &trans  &text_return_win  &kp ESCAPE
            >;
        };

        d_mac_gesture_layer { // Layer 9: internal D gesture, Mac
            display-name = "D-Mac";
            sensor-bindings = <&scroll_up_down>;
            bindings = <
                    &none &none &none &none &none &none &none &none &none &none
                    &none &none &none &none &none &none &none &none &none &none &none &none
                    &none &none &none &none &none &none &none &none &none &none &none &none
                    &none &none &none &none &none &none &none &none &none
            >;
        };

        m_mac_gesture_layer { // Layer 10: internal M gesture, Mac
            display-name = "M-Mac";
            sensor-bindings = <&scroll_up_down>;
            bindings = <
                    &none &none &none &none &none &none &none &none &none &none
                    &none &none &none &none &none &none &none &none &none &none &none &none
                    &none &none &none &none &none &none &none &none &none &none &none &none
                    &none &none &none &none &none &none &none &none &none
            >;
        };

        n_pan_layer { // Layer 11: internal N pan
            display-name = "N-Pan";
            sensor-bindings = <&scroll_up_down>;
            bindings = <
                    &none &none &none &none &none &none &none &none &none &none
                    &none &none &none &none &none &none &none &none &none &none &none &none
                    &none &none &none &none &none &none &none &none &none &none &none &none
                    &none &none &none &none &none &none &none &none &none
            >;
        };

        d_win_gesture_layer { // Layer 12: internal D gesture, Windows
            display-name = "D-Win";
            sensor-bindings = <&scroll_up_down>;
            bindings = <
                    &none &none &none &none &none &none &none &none &none &none
                    &none &none &none &none &none &none &none &none &none &none &none &none
                    &none &none &none &none &none &none &none &none &none &none &none &none
                    &none &none &none &none &none &none &none &none &none
            >;
        };

        m_win_gesture_layer { // Layer 13: internal M gesture, Windows
            display-name = "M-Win";
            sensor-bindings = <&scroll_up_down>;
            bindings = <
                    &none &none &none &none &none &none &none &none &none &none
                    &none &none &none &none &none &none &none &none &none &none &none &none
                    &none &none &none &none &none &none &none &none &none &none &none &none
                    &none &none &none &none &none &none &none &none &none
            >;
        };

        win_num_override_layer { // Layer 14: Windows Num host override
            display-name = "WinNum";
            sensor-bindings = <&scroll_up_down>;
            bindings = <
                    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                    &kp LGUI  &kp LALT  &kp LCTRL  &trans  &trans  &trans  &lt NAV_WIN BSPC  &trans  &trans
            >;
        };

        win_fn_override_layer { // Layer 15: Windows Fn host override
            display-name = "WinFn";
            sensor-bindings = <&inc_dec_kp C_BRI_UP C_BRI_DN>;
            bindings = <
                    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                    &kp LGUI  &kp LALT  &kp LCTRL  &trans  &trans  &trans  &lt NAV_WIN BSPC  &trans  &trans
            >;
        };

        r_mac_gesture_layer { // Layer 16: internal right-click gesture, Mac
            display-name = "R-Mac";
            sensor-bindings = <&scroll_up_down>;
            bindings = <
                    &none &none &none &none &none &none &none &none &none &none
                    &none &none &none &none &none &none &none &none &none &none &none &none
                    &none &none &none &none &none &none &none &none &none &none &none &none
                    &none &none &none &none &none &none &none &none &none
            >;
        };

        r_win_gesture_layer { // Layer 17: internal right-click gesture, Windows
            display-name = "R-Win";
            sensor-bindings = <&scroll_up_down>;
            bindings = <
                    &none &none &none &none &none &none &none &none &none &none
                    &none &none &none &none &none &none &none &none &none &none &none &none
                    &none &none &none &none &none &none &none &none &none &none &none &none
                    &none &none &none &none &none &none &none &none &none
            >;
        };

        snipe_layer { // Layer 18: internal pointer slow mode
            display-name = "Slow";
            sensor-bindings = <&scroll_up_down>;
            bindings = <
                    &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                    &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                    &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                    &trans &trans &trans &trans &trans &trans &trans &trans &trans
            >;
        };
    };
};
